<div class="ui-fluid">
    <div class="no-margin">
      <h1>Chamada</h1>
    </div>
    <div class="card no-margin">

    <form autocomplete="off" #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g form-group">

            <div class="ui-g-12 ui-md-7" [hidden]="disableProf">
                <p-dropdown placeholder="Selecione Professor" (onChange)="carregarTurmaDisciplina()" [options]="professores" [filter]="true" [disabled]="disableProf" [autoWidth]="false" [(ngModel)]="professorSelecionado" name="professorSelecionado"   ></p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-7">
                <p-dropdown placeholder="Selecione Turma/Disciplina" [filter]="true" [autoWidth]="false" [options]="turmaDisciplinas" [(ngModel)]="turmaDisciplinaSelecionada" name="turmaDisciplinaSelecionada" ></p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-7">
              <p-calendar [(ngModel)]="value" (onSelect)="carregarPeriodos()" placeholder="Selecione a Data" showButtonBar="true"  dateFormat="dd/mm/yy" [locale]="pt" name="value"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-7">
               <p-multiSelect [options]="periodos" [(ngModel)]="periodosSelecionados" name="periodosSelecionados"   defaultLabel="Selecione Periodos" ></p-multiSelect>
            </div>
        </div>



     </form>

    </div>
</div>
