<div class="ui-fluid">
  <form>

    <div class="ui-g">
      <div class="ui-g-12 ui-md-2">
        <button pButton type="button" label="Adicionar Diciplia" (click)="addDisciplina()" icon="fa ui-icon-add-circle"></button>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12 ui-md-2">
        <p-dataView [value]="segunda">
          <p-header>
            <h4>
              <p align="center">Segunda</p>
            </h4>
          </p-header>
          <ng-template let-periodo pTemplate="listItem">

            <div *ngIf="periodo.disciplinaTurma; then thenBlock else elseBlock"></div>

            <ng-template #thenBlock>
            <div  class="card shadow-box ui-shadow-2">
                <p align="center">{{periodo.periodo}}</p>
              <h5>
                  <p align="center">{{periodo.disciplinaTurma.nomeDisciplina}}</p>
                </h5>
                <h6>
                    <p align="center">{{periodo.disciplinaTurma.nomeProfessor}}</p>
                  </h6>
            </div>
          </ng-template>

          <ng-template #elseBlock>
            <div  class="card shadow-box ui-shadow-2">
              <h5>
                <p align="center">{{periodo.periodo}}</p>
              </h5>
              <h6>
                <p align="center">VAGO</p>
              </h6>
            </div>
            </ng-template>


          </ng-template>
        </p-dataView>
      </div>

      <div class="ui-g-12 ui-md-2">
        <p-dataView [value]="terca">
          <p-header>
            <h4>
              <p align="center">Terça</p>
            </h4>
          </p-header>
          <ng-template let-periodo pTemplate="listItem">
            <div class="card">
              <h5>
                <p align="center">{{periodo.periodo}}</p>
              </h5>
            </div>
          </ng-template>
        </p-dataView>
      </div>

      <div class="ui-g-12 ui-md-2">
        <p-dataView [value]="quarta">
          <p-header>
            <h4>
              <p align="center">Quarta</p>
            </h4>
          </p-header>
          <ng-template let-periodo pTemplate="listItem">
            <div class="card">
              <h5>
                <p align="center">{{periodo.periodo}}</p>
              </h5>
            </div>
          </ng-template>
        </p-dataView>
      </div>

      <div class="ui-g-12 ui-md-2">
        <p-dataView [value]="quinta">
          <p-header>
            <h4>
              <p align="center">Quinta</p>
            </h4>
          </p-header>
          <ng-template let-periodo pTemplate="listItem">
            <div class="card">
              <h5>
                <p align="center">{{periodo.periodo}}</p>
              </h5>
            </div>
          </ng-template>
        </p-dataView>
      </div>

      <div class="ui-g-12 ui-md-2">
        <p-dataView [value]="sexta">
          <p-header>
            <h4>
              <p align="center">Sexta</p>
            </h4>
          </p-header>
          <ng-template let-periodo pTemplate="listItem">
            <div class="card">
              <h5>
                <p align="center">{{periodo.periodo}}</p>
              </h5>
            </div>
          </ng-template>
        </p-dataView>
      </div>


      <div *ngIf="sabado && sabado.length > 0 " class="shadow-box ui-g-12 ui-md-2">
        <p-dataView [value]="sabado">
          <p-header>
            <h4>
              <p align="center">Sábado</p>
            </h4>
          </p-header>
          <ng-template let-periodo pTemplate="listItem">
            <div class="card">
              <h5>
                <p align="center">{{periodo.periodo}}</p>
              </h5>
            </div>
          </ng-template>

        </p-dataView>
      </div>


    </div>

  </form>


</div>

<p-dialog header="Disciplina" [(visible)]="exbindoFormulario"  modal="modal">
  <div class="ui-fluid">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

      <div class="ui-g form-group ">
        <div class="ui-g-12 ui-md-12">
          <p-dropdown [options]="disciplinas" required placeholder="Selecione Disciplina" [filter]="true" [autoWidth]="false"
            [(ngModel)]="disciplinaSelecionada" name="disciplinaSelecionada"></p-dropdown>
        </div>



        <div class="ui-g-12 ui-md-12">
          <p-dropdown [options]="professores" required placeholder="Selecione Professor" [filter]="true" [autoWidth]="false"
            [(ngModel)]="professorSelecionado" name="professorSelecionado"></p-dropdown>
        </div>

        <div class="ui-g-12 ui-md-12">
          <h3>Periodos</h3>
          <p-table [value]="periodosVagos" selectionMode="multiple" [paginator]="true"
              [(selection)]="periodosSelecionado"  [rows]="5">
            <ng-template pTemplate="header" >
              <tr>
                <th>Dia</th>
                <th>Periodo</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-periodo let-rowData let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                <td>{{periodo.dia}}</td>
                <td>{{periodo.periodo}}</td>
               </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6">
                  Nenhum Responsável Cadastrado
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="summary">
              <ul>
                <li *ngFor="let periodo of periodosSelecionado" style="text-align: left">
                  {{periodo.dia + ' - ' + periodo.periodo}}
                </li>
              </ul>
            </ng-template>

          </p-table>



        </div>

      </div>

    </form>
    <div class="ui-g">
      <p></p>
      <p></p>
      <p></p>
    </div>
    <hr>

    <div class="ui-g">
      <div class="ui-g-12 ui-md-3 ">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid  && !(periodosSelecionado && periodosSelecionado.size > 0)" icon="fa ui-icon-save"></button>
      </div>
      <div class="ui-g-12 ui-md-3">
        <button pButton type="button" label="Limpar" (click)="limparPopUp()" icon="fa ui-icon-add-circle"></button>
      </div>
      <div class="ui-g-12 ui-md-3">
        <button pButton type="button" icon="fa ui-icon-arrow-back" label="Voltar" (click)="fecharPopUp()" >
        </button>
      </div>
    </div>


  </div>
</p-dialog>
