<div class="ui-fluid">
  <div class="no-margin">
    <h1>Pesquisa Chamada</h1>
  </div>
  <div class="card no-margin">

    <form autocomplete="off" #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
      <div class="ui-g form-group">

        <div class="ui-g-12 ui-md-7" [hidden]="disableProf">
                <p-dropdown placeholder="Selecione Professor" required (onChange)="carregarTurmaDisciplina()" [options]="professores" [filter]="true" [disabled]="disableProf" [autoWidth]="false" [(ngModel)]="professorSelecionado" name="professorSelecionado"   ></p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-7">
                <p-dropdown placeholder="Selecione Turma/Disciplina" required  (onChange)="onChangeTurma()" [filter]="true" [autoWidth]="false" [options]="turmaDisciplinas" [(ngModel)]="turmaDisciplinaSelecionada" name="turmaDisciplinaSelecionada" ></p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-7">
                <div class="ui-g-12 ui-md-3">
                    <p-calendar [(ngModel)]="value" (onSelect)="carregarPeriodos()" required  placeholder="Selecione a Data Inicial" showButtonBar="true"  dateFormat="dd/mm/yy" [locale]="pt" name="value"></p-calendar>
                 </div>
                 <div class="ui-g-12 ui-md-3">
                    <p-calendar [(ngModel)]="value2" (onSelect)="carregarPeriodos()" required  placeholder="Selecione a Data Final" showButtonBar="true"  dateFormat="dd/mm/yy" [locale]="pt" name="value1"></p-calendar>
                 </div>   
            </div>

            <div class="ui-g-12 ui-md-7">
               <p-multiSelect [options]="periodos"  required (onChange)="carregarAlunos()" [(ngModel)]="periodosSelecionados" name="periodosSelecionados"   defaultLabel="Selecione Periodos" ></p-multiSelect>
            </div>

      </div>
    </form>
  </div>
</div>